!!!
%html
  %head
    %title Create a badge for your GitHub repo
    %script{:src => '//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js'}
    %script{:src => '//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'}/
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '//cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css'}/
    :css
      #codeThingy #code {
        width: 100%;
        height: 100px;
        font-family: Consolas;
      }
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %meta{:name => 'copyright', :content => 'Daniel Davison <sircapsalot@gmail.com>'}
    %meta{:name => 'description', :content => 'Generate a GitHub badge for your repository'}
    %meta{:name => 'keywords', :content => 'github,badge,github badges,github badge,svg badge,readme'}
    %meta{:name => 'robots', :content => 'index,follow'}
  %body
    #main-container.container
      %header
        %a{:href => 'https://github.com/ddavison/github-badges'}
          %img{:style => 'position:absolute;top:0;right:0;border:0;', :src => 'https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67',
               :alt => 'Fork me on GitHub',
               'data-canonical-src' => 'https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png'}
        %h1 GitHub SVG Buttons
        %address
          Generate your own star / fork badges...
          %a{:href => 'https://github.com/ddavison/github-badges'}
            %img{:alt => 'star this repo', :src => 'http://githubbadges.com/star.svg?user=ddavison&repo=github-badges'}/
          %a{:href => 'https://github.com/ddavison/github-badges/fork'}
            %img{:alt => 'fork this repo', :src => 'http://githubbadges.com/fork.svg?user=ddavison&repo=github-badges'}/
      %main
        #codeThingy.modal
          .modal-dialog.modal-lg
            .modal-content
              .modal-header
                %button.close{:type => 'button', 'data-dismiss' => 'modal'}
                  %span{'aria-hidden' => true} &times;
                  %span.sr-only Close
                %h4.modal-title SVG Buttons
              .modal-body
                %strong Preview:
                %img{:id => 'img-star', :alt => 'that repo doesnt exist'}/
                %img{:id => 'img-fork', :alt => 'that repo doesnt exist'}/
                %br/
                %br/
                %strong Code:
                %textarea{:id => 'code'}
              .modal-footer
                %button.btn.btn-default{:type => 'button', 'data-dismiss' => 'modal'} Close
        %form#form
          %label{:for => 'output-to'} Output to
          %select#output-to
            %option{:value => 'markdown'} Markdown
            %option{:value => 'html-image'} &lt;img .. /&gt;
            %option{:value => 'haml'} Haml
          %hr/
          .form-group
            %label{:for => 'user'} GitHub Username/Organization
            %input#user.form-control{:type => 'text', :placeholder => 'enter the username of the repo'}
            %label{:for => 'repo'} GitHub Repo
            %input#repo.form-control{:type => 'text', :placeholder => 'enter the repo name'}
            %label{:for => 'bg_color'} Background color (optional)
            %input#bg_color.form-control{:type => 'text', :value => '4c1'}
            %label{:for => 'color'} Color
            %input#color.form-control{:type => 'text', :value => 'fff'}
            %label{:for => 'style'} Style
            %select#style.form-control
              %option{:value => 'default', :selected => 'selected'}
                Default
              %option{:value => 'flat'}
                Flat

          %button.btn.btn-success{:id => 'btn-generate'}
            Generate!

    :javascript
      $(document).ready((function(){
        $("#codeThing").modal({
          keyboard: true
        });
        $("#btn-generate").on('click', function(e) {
          e.preventDefault();
          var user = $("#user").val();
          var repo = $("#repo").val();

          if (user == '' || repo == '')
            return showCodeThingy("You need to specify the user and repo to generate badges for");

          var bgColor = $("#bg_color").val();
          var color = $("#color").val();
          var style = $("#style").val();

          var colorChanged = !(bgColor == '4c1' && color == 'fff');

          var githubUrl = "https://github.com/" + user + "/" + repo;
          var forkUrl = githubUrl + "/fork";
          var baseUrl = "http://githubbadges.com/";
          var outputTo = $("#output-to").val();

          // final variable to show user.
          var output = "";

          var starImg = baseUrl + "star.svg?user=" + user + "&repo=" + repo + "&style=" + style;
          var forkImg = baseUrl + "fork.svg?user=" + user + "&repo=" + repo + "&style=" + style;
          if (colorChanged) {
            starImg += "&color=" + color + "&background=" + bgColor;
            forkImg += "&color=" + color + "&background=" + bgColor;
          }

          $("#img-star").prop('src', starImg);
          $("#img-fork").prop('src', forkImg);
          switch (outputTo) {
            case "markdown":
              var starMarkdown = "[![star this repo](" + starImg + ")](" + githubUrl + ")";
              var forkMarkdown = "[![fork this repo](" + forkImg + ")](" + forkUrl + ")";
              output = starMarkdown + '\n' + forkMarkdown;
              break;
            case "html-image":
              var starHtml = "<a href=\"" + githubUrl + "\"><img alt=\"star this repo\" src=\"" + starImg + "\" /></a>"
              var forkHtml = "<a href=\"" + forkUrl + "\"><img alt=\"fork this repo\" src=\"" + forkImg + "\" /></a>"
              output = starHtml + '\n' + forkHtml;
              break;
            case "haml":
              var starHaml = "%a{href: '" + githubUrl + "'}\n  %img{alt: 'star this repo', src: '" + starImg + "'}/"
              var forkHaml = "%a{href: '" + forkUrl + "'}\n  %img{alt: 'fork this repo', src: '" + forkImg + "'}/"
              output = starHaml + '\n' + forkHaml;
              break;
          }
          showCodeThingy(output);
        });

        var showCodeThingy = function(text) {
          $("#code").val(text);

          $("#codeThingy").modal('show');
          $("#code").focus().select();
        };
      })());

    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48232800-2', 'auto');
      ga('send', 'pageview');


